/*!
 * Weather Icons Lite OW
 * Weather themed icons for Bootstrap
 * Author - Paul Reed
 * Maintained at https://github.com/Paul-Reed/weather-icons-lite
 * Description - A lighweight version of Weather Icons
 * Credit to Erik Flowers - erik@helloerik.com
 *
 */
 @font-face {
    font-family: "weather-icons-lite-ow";
    src: url("../fonts/weather-icons-lite-ow.eot"); /* IE9 */
    src: url("../fonts/weather-icons-lite-ow.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/weather-icons-lite-ow.woff") format("woff"), /* chrome、firefox */
    url("../fonts/weather-icons-lite-ow.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("../fonts/weather-icons-lite-ow.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
.wi {
    font-family: "weather-icons-lite-ow" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wi-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -.0667em;
}
.wi-xs {
    font-size: .75em;
}
.wi-sm {
    font-size: .875em;
}
.wi-1x {
    font-size: 1em;
}
.wi-2x {
    font-size: 2em;
}
.wi-3x {
    font-size: 3em;
}
.wi-4x {
    font-size: 4em;
}  
.wi-5x {
    font-size: 5em;
}  
.wi-6x {
    font-size: 6em;
}  
.wi-7x {
    font-size: 7em;
}  
.wi-8x {
    font-size: 8em;
}  
.wi-9x {
    font-size: 9em;
}  
.wi-10x {
    font-size: 10em;
}
.wi-fw {
  text-align: center;
  width: 1.4em;
}
.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, 
mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.wi-owm-01d:before {
  content: "\f00d";
}
.wi-owm-02d:before {
  content: "\f00c";
}
.wi-owm-03d:before {
  content: "\f002";
}
.wi-owm-04d:before {
  content: "\f013";
}
.wi-owm-09d:before {
  content: "\f017";
}
.wi-owm-10d:before {
  content: "\f019";
}
.wi-owm-11d:before {
  content: "\f01e";
}
.wi-owm-13d:before {
  content: "\f01b";
}
.wi-owm-50d:before {
  content: "\f014";
}
.wi-owm-01n:before {
  content: "\f02e";
}
.wi-owm-02n:before {
  content: "\f081";
}
.wi-owm-03n:before {
  content: "\f07e";
}
.wi-owm-04n:before {
  content: "\f086";
}
.wi-owm-09n:before {
  content: "\f026";
}
.wi-owm-10n:before {
  content: "\f028";
}
.wi-owm-11n:before {
  content: "\f02c";
}
.wi-owm-13n:before {
  content: "\f02a";
}
.wi-owm-50n:before {
  content: "\f04a";
}
